$theme-colors: (
  'taupe': #ebe1c9,
  'secondary': #e9ecef,
  'dk-taupe': #2d2c27,
  'green': #017b68,
  'red': #fb001e,
  'blue': #3606e9
);
$font-family-base: sans-serif;
$headings-font-family: serif;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: false;
$bv-enable-table-stacked: false;
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
