$theme-colors: (
  'taupe': #ebe1c9,
  'ocre': #c88d21,
  'secondary': #e9ecef,
  'dk-taupe': #2d2c27,
  'green': #017b68,
  'red': #e8e8e8,
  'tertiary': #8c0220,
  'blue': #01677c
);
$font-family-base: 'Nunito', sans-serif;
$headings-font-family: 'Roboto', sans-serif;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: false;
$bv-enable-table-stacked: false;
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

.list-group-item + .list-group-item {
  border-top-width: 4px;
}